.app{
    background-color: aliceblue;
    margin: auto;
}

.login{
    background-color: aliceblue;
    margin: auto;
    width: fit-content;
}

.botton{
    display: flex;
    justify-content: center;
}